header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px auto;
    width: 95%;
    flex-direction: column;
}

div {
    display: flex;
    flex-direction: column;
}

button {
    background-color: purple;
    color: white;
}

ul {
   margin: 0;
   padding: 0;
}

li {
    list-style-type: none;
    display: block;
}

button:hover {
    background-color: lightpink;
}

.question-header {
    color: black;
    text-align: center;
}

.scoreContainer {
    display: none;
}

